@{
    ViewBag.Title = "About";
}
<br />
<h2>Quem somos</h2>
<h3>Aqui fica uma descrição deste projeto.</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut fringilla ante. In tincidunt quis quam at maximus. Morbi vel libero rutrum, dignissim velit ac, suscipit velit. Proin luctus ultrices mattis. Fusce ac eleifend eros, in efficitur odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis nec quam nibh. Proin congue sapien quis mi pharetra interdum nec mollis erat. Maecenas et dui at sapien lobortis rhoncus ut sed nulla.

    Suspendisse potenti. Mauris leo est, pulvinar at nisl eu, cursus lobortis justo. Nam urna felis, bibendum vitae feugiat tempor, ultricies eu urna. Aliquam tristique rutrum justo vitae porttitor. Aenean pellentesque tincidunt dui elementum consectetur. Curabitur tempus ornare lobortis. Morbi ut tincidunt velit, non porta ligula. Cras nec nisi elit.

    Integer vitae nunc eu ante aliquam efficitur convallis id nunc. Suspendisse eu felis et enim luctus ornare vel in lectus. Pellentesque lobortis leo vitae elit condimentum, vitae vestibulum velit venenatis. Cras sed nisl ipsum. Sed aliquet id erat eget commodo. Sed malesuada consectetur est, vel pellentesque lacus semper eu. In non consectetur sem. Mauris vitae cursus sem.

    Suspendisse semper nisi vitae enim rhoncus, non tempus lacus mollis. Mauris at euismod felis. Aenean a mattis augue. Praesent luctus pretium convallis. Nam porttitor efficitur pharetra. Nulla ut placerat sem. Cras neque elit, porta sit amet rhoncus eu, volutpat vel orci. Aenean in risus ut arcu mattis cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent quis ligula ex. Donec ut luctus lorem. Quisque a orci nunc. Morbi vitae sagittis massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

    Aliquam nec mauris felis. Nam eu maximus velit. Nullam hendrerit tortor in lectus consectetur, vitae convallis magna tristique. Praesent aliquet molestie ante. Curabitur sed diam elit. Aenean imperdiet malesuada ipsum. Maecenas rhoncus metus vel est efficitur egestas.
</p>

